.toggle {
	background-color: var(--color-primary);
	padding: 5px 10px;
	border-radius: 2rem;
	width: 60px;
	height: 30px;
	position: relative;

	display: flex;
	align-items: center;
}

.toggle::before {
	background-color: var(--bg);
	left: 1px;
	position: absolute;
	content: "on";
	height: 28px;
	width: 28px;
	border-radius: 100%;
	cursor: pointer;
	font-size: 0.8rem;
	color: var(--color-primary);
	font-weight: bold;
	transition: all 0.3s;

	display: flex;
	justify-content: center;
	align-items: center;
}

.toggle.active::before {
	left: 30px;
	content: "off";
}
