.linkCoverLetter {
	color: var(--color-primary);
	display: flex;
	align-items: center;
	gap: 0.2rem;
}

.linkCoverLetter i {
	font-size: 1.5rem;
	font-weight: bold;
}

.linkCoverLetter span {
	color: var(--color-100);
	font-weight: bold;
}
