.games ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 200px;
}

.games ul li {
    width: 80%;
}

.games li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.games li a:hover {
    background-color: var(--color-primary);
    border: 2px solid transparent;
    color: #fff;
}

.games li:nth-child(1) {
    align-self: flex-start;
}

.games li:nth-child(2) {
    align-self: center;
}

.games li:nth-child(3) {
    align-self: flex-end;
}
