* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    user-select: none;
}

:root {
    --color-primary: #47a992;
    --color-shadow: #47a99250;
    --bg: #fff;
    --color-100: #8b95aa;
}

body.darkmode {
    --bg: #191825;
}

body {
    background-color: var(--bg);
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    color: var(--color-primary);
}

p {
    color: var(--color-100);
}

.section {
    display: grid;
    gap: 2rem;
}
